<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.areallc.modelo-ml</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/phol1201/Desktop/PROYECTOS/Taller-Proyectos1/Tapia_Torres_Taquiri_Mendes_TPQ_2025_20/modelo/ml-recomendator/venv/bin/uvicorn</string>
        <string>app.main:app</string>
        <string>--host</string>
        <string>0.0.0.0</string>
        <string>--port</string>
        <string>8001</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/phol1201/Desktop/PROYECTOS/Taller-Proyectos1/Tapia_Torres_Taquiri_Mendes_TPQ_2025_20/modelo/ml-recomendator</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/phol1201/Desktop/PROYECTOS/Taller-Proyectos1/Tapia_Torres_Taquiri_Mendes_TPQ_2025_20/modelo/ml-recomendator/logs/modelo-ml.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/phol1201/Desktop/PROYECTOS/Taller-Proyectos1/Tapia_Torres_Taquiri_Mendes_TPQ_2025_20/modelo/ml-recomendator/logs/modelo-ml-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
